.container2{
  position:relative;
  overflow-y: scroll;
  padding: 0px;
}
.body {
  position: absolute;
  background: #FFFFFF;
  bottom: 0px;
  height: 100%;
  width:100%;
}

.img-search{
  width: 30%;
  cursor: pointer;
}

.content-div{
    margin-top: 10px;
    background-color: #F6F6F6;
}

.img-huella{
    margin: 10px 30px 10px 30px;
}

.img-huella .container .txt-busqueda{
    text-align: right;
    font-style: Century Gothic;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #00AFF0;
    cursor: pointer;
}
.contenedor-busqueda{
  background-color: #F6F6F6;
  height: 60px;
}

.contenedor-busqueda .content-nueva{
  background-color: #00A0E0;
  width: 10%;
  height: 30px;
  top: -10%;
  cursor: pointer;
}

.contenedor-busqueda .txt-nueva-consulta{
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
  color: #FFFFFF;
}

.contenedor-busqueda .txt-nombreUser{
  font-weight: bolder;
  font-size: 20px;
  margin-top: 8px;
  color: #333639;
}

.div-barrera{
  background-color: #00A0E0;
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.contenedor-busqueda .label-name{
display: inline-block; 
}

.contenedor-busqueda .label-name .txt-name{
font-weight: normal;
font-size: 15px;
margin: 5px;
color: #333639;
}

.contenedor-busqueda .label-name .txt-consultar{
text-align: right;
font-weight: bold;
color: #142557;
font-size: 20px;
}

.contenedor-busqueda .label-name .txt-options{
font-weight: bold;
color: #000000;
font-size: 14px;
}



.contenedor-busqueda .label-options{
display: inline-block;
width: 200px;
}

.contenedor-busqueda .txt-busq{
  font-weight: bold;
  font-size: 30px;
  color: #182652;
  margin: 0 0 0 35px;
}
.contenedor-form{
    margin-top: 2%;
    height: 420px;
}

.content-resultado{
  background-color: #00A0E0;
  width: 30%;
  position: fixed;
  top: 20%;  
  left: 0%; 
}

.content-resultado .txt-resultado{
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
  margin: 10px 0px
}

.contenedor-form .contenedor-checador .txt-consulta .txt-con{
  font-weight: bold;
  font-size: 30px;
  padding-top: 20%;
  color: #c7c7c7;
  text-align: center;
}

.contenedor-footer{
  background-color: #F4F4F4;
  height: 60px;
}

.contenedor-footer .cont-check{
  color: #142557;
  font-weight: bold;
  font-size: 30px;
  text-align: right;
  
}

.contenedor-footer .cont-app{
  color: #00bfbb;;
  font-weight: bold;
  font-size: 11px;
  margin-top: -30px;
  text-align: right;
}

.contenedor-footer .img3{
  position: fixed;
  left:88%;
  top:86%;
  width:2%;
  height:7%;
  opacity: 0.6;
}

.contenedor-comenzar{
  position: absolute;
  border-style: solid;
  width: 30%;
  border-color: #00BFBB;
  top: 70%;
  left: 55%;
}

.contenedor-comenzar .txt-comenzar{
  margin: auto;
  text-align: center;
  padding-bottom: 3px;
  font-weight: bolder;
  cursor: pointer;
}

.contenedor-checador .txt-table{
text-align: center;
font-weight: bold;
font-size: 15px;
color: #FFFFFF;
}

.contenedor-checador .nombre{
background-color: #142557;
width: 20%;
}

.contenedor-checador .fecha{
background-color:  #00BFBB;
width: 20%;
}

.contenedor-checador .hora-entrada{
background-color: #00A0E0 ;
width: 20%;
}

.contenedor-checador .hora-salida{
background-color: #0089BF ;
width: 20%;
}

.contenedor-checador .inasistencia{
background-color: #006D98;
}

.contenedor-checador .txt-usuario{
font-size: 10px;
text-align: center;
font-weight: bold;
color: #333639;
}

.contenedor-checador .txt-userID{
display: none;
}


