<!-- <nav class="navbar ">
  <div class="nav-headers">
      <div class="cabecera-head">
        <div class="txt-dev">
          <img src="../../assets/exit.png" class="exit" alt="" (click)="logout();">
        </div>
        <div class="content">
          <p class="txt-check">CHECK IN</p>
        </div>
        <div class="content">
          <p class="txt-user">David Ayala Juarez</p>
        </div>
      </div>
    </div>
    <div class="div-barrera">
      </div>
</nav> -->

<div class="main-header">
  <div class="main-header-button">Cerrar Sesion</div>
  <div class="main-header-button main-header-button-desactive">Registro Asistencias</div>
  <div class="main-header-button main-header-button-desactive">Javier Duran Sanchez</div>
</div>
<div class="screen-logo-container">
  <div class="screen-logo"></div>
</div>
<div class="screen-logo-container">
  <div class="screen-logo"></div>
</div>
