<body class="body rounded-top">
  <div class="contenedor-img"> 
    <div class="container ">
        <div class="contenedor-principal">
            <div class="contenedor-check">
                <img src="../../assets/componentUWLU92O1.png" class="img1" alt="">
                <p class="check">check in</p>
                <p class="app-devant">App Devant</p>
                <p class="txt-devant txt-mr">Usuario</p>
                <input type="text" class="form-control input-txt" placeholder="nombre.apellido">
                <p class="txt-devant txt-ps">Constraseña</p>
                <input type="password" class="form-control input-txt" placeholder="******">
              </div>
              <div class="app-in">
                  <p class="check-in" (click)="login();">ENTRAR</p>
              </div>
        </div>
      </div>
  </div>
</body>
